django_project/wfs/templates/wfs/describe_feature_type.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- http://cite.opengeospatial.org/pub/cite/files/edu/wfs/text/operations.html#describefeaturetype -->
<schema targetNamespace="http://localhost/"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        xmlns:gml="http://www.opengis.net/gml/3.2">
    <import namespace="http://www.opengis.net/gml/3.2"
            schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <element name="Waterpoints" type="WaterpointType"/>
    <complexType name="WaterpointType">
        <complexContent>
            <sequence>
                <element name="location" type="gml:PointPropertyType"/>
                {% for attribute in attributes %}
                    <element name="{{ attribute.key }}" type="{{ attribute.type }}"/>
                {% endfor %}
            </sequence>
        </complexContent>
    </complexType>
</schema>
